{% extends 'layout.html.twig' %}

{% block title %}
  Tiiix | {{ product.name }}
{% endblock %}

{% block body %}
  <div class="product-banner"></div>
  {% include './elements/breadcrumb3Lev.html.twig' with {'lev2Path': path('app_product_index'), 'lev2Name': 'Nos produits', 'lev3Name': product.name} %}
  <div class="product-offer">
    <div class="container">
      <div class="product-block row">
        <div class="product-block-left col-12 col-md-6">
          <h2>
            {{ product.title }}
          </h2>
          <p>
            {{ product.presentation }}
          </p>
        </div>
        <div class="product-block-right col-12 col-md-6">
          <h5>
            {{ product.name }}
          </h5>
          <ul>
            <li>{{ product.quantity }} tickets</li>
            {% for composition in product.compositions %}
              <li>{{ composition.name }}</li>
            {% endfor %}
          </ul>
          <h6 class="product-price">
            {{ (product.price / 100)|round(0, 'floor') }}<sup>€{{ product.price|slice(-2) }}</sup>
          </h6>
          <a href="{{ path('app_order_recap', {'slug': product.slug}) }}" class="btn btn-outline-danger btn-lg">Je lance ma commande</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
