<div class="product-block box-shadow">
  <div class="product-block-left">
    <h3>
      {{ product.title }}
    </h3>
    <div class="product-description">
      <p>
        {{ product.description }}
      </p>
    </div>
  </div>
  <div class="product-block-right">
    <h5>
      {{ product.name }}
    </h5>
    <div class="product-compositions">
      <ul>
        <li>{{ product.quantity }} tickets</li>
        {% for composition in product.compositions %}
          <li>{{ composition.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <h6 class="product-price">
      {{ (product.price / 100)|round(0, 'floor') }}<sup>€{{ product.price|slice(-2) }}</sup>
    </h6>
    <a href="{{ path('app_order_recap', {'slug': product.slug}) }}"
      class="btn btn-outline-danger btn-lg">
      Commander
    </a>
    <div class="mt-2">
      <a href="{{ path('app_product_show', {'slug': product.slug}) }}" class="text-danger text-decoration-none card-link">En savoir plus</a>
    </div>
  </div>
</div>
