{% include './pre_footer.html.twig' %}
<div class="footer">
  <div class="row">
    <div class="col footer-logo">
      <img src="{{ asset('build/logos/tiiix.png') }}" alt="image" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h3>
        Tiiix
      </h3>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="{{ path('app_product_index') }}">Nos produits</a>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="{{ path('app_user_dashboard') }}">Mon espace client</a>
    </div>
    <div class="col-12 col-md footer-link">
      <a href="{{ path('app_legal') }}">Mentions légales</a>
    </div>
    <div class="col-12 col-md footer-link">
        <a href="{{ path('app_cgv') }}">CGV</a>
    </div>
    <div class="col-12 col-md footer-link">
      <a href="{{ path('app_contact') }}">Nous contacter</a>
    </div>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=100068065690577" target="_blank">{{ ux_icon('ic:baseline-facebook') }}</a>
  </div>
</div>
