{% extends 'base.html.twig' %}

{% block header %}
	<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
		<div class="container-fluid">
			<img src="{{ asset('build/logos/imeet.png') }}" class="nav-logo" alt="image"/>
			<a class="navbar-brand" href="{{ path('app_home') }}">Tiiix</a>
			{% if test_mode %}
				<div class="test-mode">Mode test</div>
			{% endif %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarNav" class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="btn btn-outline-danger" aria-current="page" href="{{ path('app_product_index') }}">
							Nos produits
						</a>
					</li>
					<li class="nav-item">
						{% if app.user %}
							<a class="btn btn-danger" href="{{ path('app_user_dashboard') }}">
								{{ app.user.fullName }}
							</a>
						{% else %}
							<a class="btn btn-danger" href="{{ path('app_login') }}">
								Se connecter
							</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<script>
		let lastScrollTop = 0;

		window.addEventListener("scroll", function() {
			let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

			if (currentScroll > lastScrollTop) {
				document.querySelector(".navbar").classList.add("hidden");
			} else {
				document.querySelector(".navbar").classList.remove("hidden");
			}
			lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Pour éviter un comportement étrange sur certains navigateurs
		}, false);
	</script>
{% endblock %}

{% block footer %}
	{% include './footer.html.twig' %}
{% endblock %}
