{% extends 'base.html.twig' %}

{% block header %}
	<nav class="navbar">
		<div class="nav-logo">
			<a href="{{ path('app_home') }}"><img src="{{ asset('build/logos/tiiix.png') }}" class="nav-logo" alt="image"/> Tiiix</a>
		</div>
		<div class="nav-links">
			{% if test_mode %}
				<div class="test-mode">Mode test</div>
			{% endif %}
		</div>
		<div class="nav-cta">
			<a href="{{ path('app_product_index') }}" class="nav-cta-products">Nos produits</a>
			{% if app.user %}
				<a href="{{ path('app_user_dashboard') }}" class="nav-cta-button">{{ app.user.firstname|capitalize }}</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="nav-cta-button">Se connecter</a>
			{% endif %}
		</div>
	{% if free_mode %}
		<div class="free-offers-banner w-100">
			Toutes les offres sont actuellement <strong>gratuites</strong> !
		</div>
	{% endif %}
	</nav>

	<script>
		let lastScrollTop = 0;

		window.addEventListener("scroll", function() {
			let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

			if (currentScroll > lastScrollTop) {
				document.querySelector(".navbar").classList.add("d-none");
			} else {
				document.querySelector(".navbar").classList.remove("d-none");
			}
			lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Pour éviter un comportement étrange sur certains navigateurs
		}, false);
	</script>
{% endblock %}

{% block footer %}
	{% include './footer.html.twig' %}
{% endblock %}
