{% extends 'layout.html.twig' %}

{% block title %}
  Imeet | Commande {{ product.name }}
{% endblock %}

{% block body %}
  <div {{ stimulus_controller('order') }} class="order-product container">
    {% include './elements/stepper.html.twig' with {step: 2} %}
    <div class="order-recap">
      <div class="row">
        <div class="col-9">
          <h4>
            {{ product.name }}
          </h4>
          <ul>
            <li><span data-order-target="tickets">{{ product.quantity }}</span> tickets</li>
              {% for composition in product.compositions %}
                <li>{{ composition.name }}</li>
              {% endfor %}
          </ul>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <p class="me-2" data-order-target="productTotal">
            {{ product.price / 100 }}
          </p>
          <p>€</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <span class="minus" data-action="click->order#decrement"><button class="btn btn-danger">-</button></span>
            <span class="num mx-2" data-order-target="quantity">1</span>
            <span class="plus" data-action="click->order#increment"><button class="btn btn-danger">+</button></span>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-9">
          <p class="text-end fw-bold">
            TOTAL
          </p>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <p class="fw-bold me-2" data-order-target="orderTotal">
            {{ product.price / 100 }}
          </p>
          <p class="fw-bold">€</p>
        </div>
      </div>
    </div>
    <div class="text-end">
      <a href="" class="btn btn-outline-danger btn-lg">Étape suivante</a>
    </div>
  </div>
{% endblock %}
